@use './../abstract/variaveis';
@use './../abstract/mixins';
#nosso-espaco{
  @include mixins.margem-central(80%);
  .detalhes{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 2rem 0;
    .imgs-espaco{
      max-width: 550px;
    }
    .espaco-textos{
      @extend .imgs-espaco;  // herda o max-width utilizado na classe especificada
      .titulo{
        @include mixins.ff-fs-cl(variaveis.$ft-titulos, 1.8rem, variaveis.$cor-secundaria);
        font-weight: 500;
      }
      .infos{
        @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
      }
      .separador{
        width: 100%;
      }
    }
    &:nth-child(2){
      flex-direction: row-reverse;
    }
    &:hover{
      transition: 2s;
    }
  }
}

@media screen and (max-width: 868px) {
  #nosso-espaco{
    @include mixins.margem-central(100%);
    .detalhes{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        max-width: 100%;
        margin: 0 auto;
      }
      .imgs-espaco{
        max-width: 98%;
        margin: 0 auto;
        padding: .5rem 0;
      }
      .espaco-textos{
        @extend .imgs-espaco;  // herda o max-width utilizado na classe especificada
        .separador{
          width: 90%;
        }
      }
    }
  }
}